@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import "tailwindcss";
:root{
  background-color: #eeede9;
  font-family: 'Baloo 2', sans-serif;
  scroll-behavior: smooth;
}

